<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS_Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS_Timer.Properties.GuiValues" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DS_Timer.Properties.Settings>
            <setting name="DSServer" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeServer" serializeAs="String">
                <value>pool.ntp.org</value>
            </setting>
            <setting name="BlinkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighlightOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>http://kaupat-hh.de/updates/</value>
            </setting>
            <setting name="ClockAdjustment" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="Note" serializeAs="String">
                <value>Note</value>
            </setting>
            <setting name="AlarmSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldSpeedFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorldUnitSpeedFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DSWorldName" serializeAs="String">
                <value>Welt wählen</value>
            </setting>
            <setting name="CreateAlarmOffset" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NextAttack" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="AutoBlink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastStart" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="TimeZoneOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedServerName" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="SelectedWorldName" serializeAs="String">
                <value />
            </setting>
        </DS_Timer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DS_Timer.Properties.GuiValues>
            <setting name="CreateAlarmOffset" serializeAs="String">
                <value>3</value>
            </setting>
        </DS_Timer.Properties.GuiValues>
    </applicationSettings>
</configuration>